/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  user-select: none;
}

h4 {
  font-size: 1rem;
  width: 70px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Navbar */

header#header {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
}

nav.nav.container {
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  margin-inline: auto;
  height: 5vh;
}

.nav__menu {
  margin-left: auto;
}

ul.nav__list {
  display: flex;
  row-gap: 2.5rem;
  text-align: center;
  flex-direction: row;
  column-gap: 3rem;
  font-size: 1.2rem;
  color: hsl(230, 75%, 15%);
  font-weight: 600;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo {
  font-size: 1.2rem;
  color: hsl(230, 75%, 15%);
  font-weight: 600;
  transition: color 0.4s;
}

.nav__item {
  transition: color 0.4s;
}

.machine-status span {
  color: #e53935;
}

.nav__logo:hover,
.nav__item:hover,
.action__btn:hover {
  color: hsl(230, 75%, 56%);
}

.action__btn {
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  color: hsl(230, 75%, 15%);
  cursor: pointer;
  transition: color 0.4s;
}

/* Bugs and login */

.bugs {
  font-size: 1rem;
  color: hsl(230, 75%, 15%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  pointer-events: none;
  padding-top: 10rem;
}

.bugs.show-bugs {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.login {
  font-family: var(--body-font);
  font-size: 1rem;
  color: hsl(230, 12%, 40%);
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  pointer-events: none;
  transition: opacity 0.4s;
  padding-top: 10rem;
}

.bugs__form {
  font-size: 0.8rem;
  color: hsl(230, 12%, 40%);
  pointer-events: initial;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: hsl(230, 100%, 97%);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.4s;
  max-width: 450px;
  margin-inline: auto;
  transform: translateY(0);
  font-family: "Syne", sans-serif;
}

.search__input {
  pointer-events: initial;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  padding-block: 1rem;
  background-color: hsl(230, 100%, 97%);
  color: hsl(230, 12%, 40%);
}

#search-close {
  pointer-events: initial;
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: black;
  cursor: pointer;
  width: max-content;
  top: 5rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  font-size: 2rem;
}

.show-bugs .bugs__form {
  transform: translateY(0);
}

.login__form {
  font-size: 1rem;
  color: hsl(230, 12%, 40%);
  pointer-events: initial;
  box-sizing: border-box;
  margin: 0;
  display: grid;
  background-color: hsl(230, 100%, 97%);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transition: transform 0.4s;
  max-width: 400px;
  margin-inline: auto;
  padding: 3rem 2rem 3.5rem;
  transform: translateY(0);
}

.login__title {
  pointer-events: initial;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: hsl(230, 75%, 15%);
}

.login__label {
  pointer-events: initial;
  font-size: 14px;
  display: block;
  text-align: initial;
  color: hsl(230, 75%, 15%);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.login__input {
  pointer-events: initial;
  font-family: var(--body-font);
  font-size: 1rem;
  outline: none;
  width: 100%;
  background-color: hsl(230, 100%, 97%);
  border: 2px solid hsl(230, 25%, 80%);
  padding: 1rem;
  border-radius: 0.5rem;
  color: hsl(230, 12%, 40%);
}

.login__forgot {
  font-size: 1rem;
  pointer-events: initial;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: hsl(230, 75%, 56%);
  margin-bottom: 1.25rem;
}

.login__button {
  pointer-events: initial;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  display: inline-block;
  background-color: hsl(230, 75%, 56%);
  width: 100%;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login-div {
  display: inline-flex;
  column-gap: 0.4rem;
}

.user-name {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(230, 75%, 15%);
  text-decoration: none;
  color: inherit;
}

/* Main */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  /* Allows scrolling if needed */
}

.col-1 {
  display: flex;
  column-gap: 1rem;
  width: 98%;
  margin: 0 auto;
  margin-top: 1rem;
}

.ui-box {
  font-size: 1.2rem;
  color: hsl(230, 12%, 40%);
  border-radius: 5px;
  padding: 15px;
  width: 30%;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.ui-box h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

div#status-box {
  display: flex;
  flex-direction: column;
}

#status-box {
  width: 50%;
}

#status-box h3 {
  margin-bottom: 5px;
}

.status-item {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.cam-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
}

#relay-selection {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#detection-counter-box {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.relay {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.ui-label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  min-width: 104px;
}

.ui-select {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.start-btn {
  font-size: 1rem;
  outline: none;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #45a049;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
}

.start-btn,
.stop-btn {
  font-family: "Syne", sans-serif;
  font-weight: 600;
}

.stop-btn {
  font-size: 1rem;
  outline: none;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e53935;
  display: flex;
  column-gap: 0.4rem;
}

.detection-item {
  font-size: 1rem;
  display: flex;
  column-gap: 1rem;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.detect-in {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 3.5rem;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.dc-result label {
  font-size: 1.2rem;
}

.dc-result {
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
}

/* Vision box */

.vision {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  color: hsl(230, 12%, 40%);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.vision h1 {
  color: hsl(230, 12%, 40%);
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.vision h3 {
  font-size: 1rem;
  width: fit-content;
}

.cam-box {
  border-radius: 5px;
  padding: 15px;
  min-height: 35vh;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cam {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.image-box {
  height: 50%;
  border: 2px dashed #0078d4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0078d4;
  margin-top: 5px;
  flex-grow: 1;
}

.cam-results {
  display: flex;
  justify-content: space-around;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cam-results h3 {
  font-size: 0.8rem;
}

.circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 0px rgb(23 23 23);
  width: 4rem;
  height: 4rem;
}

.defect-in {
  outline: none;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  font-family: "Syne", sans-serif;
  color: hsl(230, 12%, 40%);
  font-size: 1rem;
}

.defects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.counts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.count-in {
  outline: none;
  width: 50px;
  border: none;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  font-family: "Poppins", serif;
  color: hsl(230, 12%, 40%);
  font-size: 1.2rem;
}

/* Stations*/

.stations {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  margin: 15px auto;
  width: 98%;
  color: hsl(230, 12%, 40%);
  min-height: 70vh;
  background-color: white;
  flex-grow: 1;
}

.stn-sections {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.current-report {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.overall-stat {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.error-stat {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.overall-stat .stats {
  flex-grow: 1;
  display: grid;
  row-gap: 1rem;
}

.overall-stat>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.error-stat>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

input.overall-in {
  width: 2rem;
}

label.over-stat-label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  min-width: fit-content;
}

.no-trays,
.no-relays,
.no-oks,
.no-Noks,
.no-totals {
  display: flex;
  align-items: center;
}

label.over-stat-label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  min-width: 155px;
  height: min-content;
  text-align: left;
}


input.overall-in {
  width: 6rem;
  height: min-content;
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 2px;
  flex-grow: 1;
  font-size: 1rem;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

button.tablinks.reveal-an:hover {
  background-color: black;
  color: white;
}

button.tablinks.reveal-an {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 0.5px solid hsl(230, 12%, 40%);
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
}

button.tablinks.reveal-an {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 0.5px solid hsl(230, 12%, 40%);
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
}

body>main>div.stations>div.stn-sections>div.tab>button>span {
  font-family: none;
}

.tab button.active {
  background-color: black;
  color: white;
}

.tabcontent {
  display: none;
  padding: 15px;
}

.tabcontent.active {
  display: block;
}

/* STN 1*/

div#stn-1 {
  flex-direction: column;
  flex-grow: 1;
  row-gap: 1rem;
}

.st1-row-1,
.st1-row-2,
.st1-row-3 {
  display: flex;
  column-gap: 1rem;
}

.stn1-pickup-drop-voltage,
.stn1-pickup-drop-time {
  display: flex;
}

.st1-tray-status>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
  width: 125px;
}

.st1-tray-status,
.st1-relay-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  row-gap: 0.3rem;
}

.st1-tray-status-circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 0px rgb(23 23 23);
  width: 7rem;
  height: 7rem;
}

.st1-current-tray-status,
.st1-current-relay-status {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.st1-current-tray-status>h3 {
  margin-bottom: 14px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

label.st1-label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.st1-current-tray-status {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.st1-current-tray-status label {
  width: 145px;
}

#stn-1 input {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 13.3rem;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

.labels-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.stn1-pickup-drop-voltage,
.stn1-pickup-drop-time {
  display: flex;
  flex-direction: column;
}

#voltage,
#time {
  display: flex;
}

.stn1-pickup-drop-voltage {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.stn1-pickup-drop-voltage>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

#voltage,
#time {
  display: flex;
  column-gap: 1rem;
}

#voltage .current-status,
.ideal-status,
.result {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

#voltage label {
  width: 130px;
}

.current-status,
.ideal-status {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.current-status>h3 {
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1rem;
}

.ideal-status>h3 {
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1rem;
}

#voltage .pickup-drop-circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 0px rgb(23 23 23);
  width: 4rem;
  height: 4rem;
}

#voltage .result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#voltage>div.result>div {
  display: flex;
  column-gap: 1rem;
}

#voltage .result>h3 {
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1rem;
}


.st1-relay-status-circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 0px rgb(23 23 23);
  width: 7rem;
  height: 7rem;
}



.st1-relay-status>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
  width: 125px;
}

.st1-current-relay-status>h3 {
  margin-bottom: 14px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.st1-current-relay-status label {
  width: 145px;
}

.stn1-pickup-drop-time {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.stn1-pickup-drop-time>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

#time .current-status {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
}

#time label {
  width: 130px;
}

#time .result>h3 {
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1rem;
}

#time .result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#time .pickup-drop-circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 4px 0px rgb(23 23 23);
  width: 4rem;
  height: 4rem;
}

.st1-row-3 {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.st1-row-3>h3 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

/* .st-head {
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}


.station-1,
.station-2,
.station-3 {
  padding: 15px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.test-results>h3 {
  color: hsl(230, 12%, 40%);
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid hsl(230, 12%, 40%);
  padding-bottom: 5px;
  font-size: 1.2rem;
} */

/* Div dragger */

/* For st1 */

/* .st1-wrapper {
  position: absolute;
  width: calc(100% - 40px);
  height: 70vh;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
} */

/* .st1-wrapper.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: all;
}


.st1-wrapper .head-st1 {
  color: hsl(230, 12%, 40%);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 17px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.st1-close-btn {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  font-weight: bold;
}

.st1-open-btn {
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: hsl(230, 12%, 40%);
} */

/* For st2 */

/* .st2-wrapper {
  position: absolute;
  width: calc(100% - 40px);
  height: 90vh;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 12px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
} */

/* .st2-wrapper.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: all;
}


.st2-wrapper .head-st2 {
  color: hsl(230, 12%, 40%);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 17px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.st2-close-btn {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  font-weight: bold;
}

.st2-open-btn {
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: hsl(230, 12%, 40%);
} */

@media screen and (max-width: 1124px) {
  nav.nav.container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .ui-label,
  .ui-select {
    font-size: 0.8rem;
    font-family: "syne", sans-serif;
  }
}