<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-engg</title>

    <!-- Remix icon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/10026/10026377.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />


    <!-- Google -->
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Logo</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Settings</a>
                    </li>

                </ul>

            </div>

            <div class="nav__actions">
                <!-- Bug button -->
                <svg class="action__btn" id="bugs-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                    height="20" fill="currentColor">
                    <path
                        d="M13 19.9C15.2822 19.4367 17 17.419 17 15V12C17 11.299 16.8564 10.6219 16.5846 10H7.41538C7.14358 10.6219 7 11.299 7 12V15C7 17.419 8.71776 19.4367 11 19.9V14H13V19.9ZM5.5358 17.6907C5.19061 16.8623 5 15.9534 5 15H2V13H5V12C5 11.3573 5.08661 10.7348 5.2488 10.1436L3.0359 8.86602L4.0359 7.13397L6.05636 8.30049C6.11995 8.19854 6.18609 8.09835 6.25469 8H17.7453C17.8139 8.09835 17.88 8.19854 17.9436 8.30049L19.9641 7.13397L20.9641 8.86602L18.7512 10.1436C18.9134 10.7348 19 11.3573 19 12V13H22V15H19C19 15.9534 18.8094 16.8623 18.4642 17.6907L20.9641 19.134L19.9641 20.866L17.4383 19.4077C16.1549 20.9893 14.1955 22 12 22C9.80453 22 7.84512 20.9893 6.56171 19.4077L4.0359 20.866L3.0359 19.134L5.5358 17.6907ZM8 6C8 3.79086 9.79086 2 12 2C14.2091 2 16 3.79086 16 6H8Z">
                    </path>
                </svg>


                <!-- Login button -->
                <div class="login-div">
                    <svg class="action__btn" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z">
                        </path>
                    </svg>
                    <!-- <span class="user-name">Pratham</span> -->
                </div>
            </div>
            <div class="machine-status">
                <h3>Machine Status: <span>Offline</span></h3>
            </div>
            </div>
        </nav>
    </header>

    <div class="bugs" id="bugs">
        <form action="" class="bugs__form">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                fill="hsl(230, 75%, 15%)">
                <path
                    d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z">
                </path>
            </svg>
            <input type="search" placeholder="What are you looking for?" class="search__input">
        </form>

        <svg id="search-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"
            fill="rgba(0,0,0,1)">
            <path
                d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
            </path>
        </svg>
    </div>

    <div class="st1-wrapper">
        <div class="head">
          Tray Loading Camera
          <button class="st1-close-btn">
            <span class="material-symbols-outlined"> close </span>
          </button>
        </div>
        <div class="st1-content">
          <div class="image-box">Input Image</div>
          <div class="cam-status">
            <div class="cam-results">
              <div class="defects">
                <h3>Defects</h3>
                <input
                  type="text"
                  class="defect-in"
                  value="cap missing"
                  readonly=""
                />
              </div>
              <div class="counts">
                <h3>Count</h3>
                <input type="text" class="count-in" value="4" readonly="" />
              </div>
            </div>
          </div>
        </div>
      </div>

    <main class="container1">
        <div class="col-1">
            <div class="ui-box" id="part-box">
                <h3>Relay Selection</h3>
                <div class="relay">
                    <div id="relay-selection">
                        <label class="ui-label" for="part-name">Relay type:</label>
                        <select class="ui-select" id="part-name">
                            <option selected>-Select-</option>
                            <option value="12V NO">12V NO</option>
                            <option value="12V NO with diode">12V NO with diode</option>
                            <option value="12V CO">12V CO</option>
                            <option value="24V NO">24V NO</option>
                            <option value="24V with diode">24V with diode</option>
                            <option value="24V CO">24V CO</option>
                        </select>
                        <button class="start-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                height="20" fill="rgba(255,255,255,1)">
                                <path
                                    d="M16.3944 12.0001L10 7.7371V16.263L16.3944 12.0001ZM19.376 12.4161L8.77735 19.4818C8.54759 19.635 8.23715 19.5729 8.08397 19.3432C8.02922 19.261 8 19.1645 8 19.0658V4.93433C8 4.65818 8.22386 4.43433 8.5 4.43433C8.59871 4.43433 8.69522 4.46355 8.77735 4.5183L19.376 11.584C19.6057 11.7372 19.6678 12.0477 19.5146 12.2774C19.478 12.3323 19.4309 12.3795 19.376 12.4161Z">
                                </path>
                            </svg>Start</button>
                    </div>
                    <div id="relay-selection">
                        <label class="ui-label" for="part-name">Total Relays:</label>
                        <select class="ui-select" id="part-name">
                            <option selected>42</option>
                        </select>
                        <button class="stop-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                height="20" fill="rgba(255,255,255,1)">
                                <path
                                    d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM9 9H15V15H9V9Z">
                                </path>
                            </svg>Stop</button>
                    </div>
                </div>
            </div>

            <div class="ui-box" id="detection-counter-box">
                <h3>Detection Counter</h3>
                <div class="detection-item">
                    <div class="dc-result"><label style="color: green;">Ok</label><input type="text" class="detect-in"
                            readonly=""></div>
                    <div class="dc-result">
                        <label style="color: red;">NOk</label><input type="text" class="detect-in" readonly="">
                    </div>
                    <div class="dc-result">
                        <label>Total</label><input type="text" class="detect-in" readonly="">
                    </div>
                </div>
            </div>
            <div class="ui-box" id="status-box">
                <h3>Camera Status</h3>
                <div class="status-item">
                    <div class="cam-status">
                        <h4 style="width: 100px;">Tray loading camera</h4>
                        <div class="circle"></div>
                    </div>
                    <div class="cam-status">
                        <h4 style="width: 101px;">Rejection tray camera</h4>
                        <div class="circle"></div>
                    </div>
                    <div class="cam-status">
                        <h4>Armature camera</h4>
                        <div class="circle"></div>
                    </div>
                    <div class="cam-status">
                        <h4>Weilding camera</h4>
                        <div class="circle"></div>
                    </div>
                    <div class="cam-status">
                        <h4>Cap camera</h4>
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    


        <div class="stations">
            <div class="station-1">
                <div class="st-head">
                    <h3>Station 1</h3>
                    <div class="st1-cam-open">
                        <button class="st1-open-btn">
                            <span class="material-symbols-outlined">
                                photo_camera
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="station-2">
                <div class="st-head">
                    <h3>Station 2</h3>
                    <div class="st1-cam-open">
                        <span class="material-symbols-outlined">
                            photo_camera
                        </span>
                    </div>
                </div>
            </div>
            <div class="station-3">
                <div class="st-head">
                    <h3>Station 3</h3>
                    <div class="st1-cam-open">
                        <span class="material-symbols-outlined">
                            photo_camera
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <script src="../static/js/main.js"></script>
</body>

</html>